#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-text {
  color: white;
  font-size: 2em;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
}

.cursor {
  color: white;
  font-weight: bold;
  margin-left: 2px;
  animation: blink 1s infinite;
}

.cursor.visible {
  opacity: 1;
}

.cursor.hidden {
  opacity: 0;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#loader.fade-out {
  animation: fadeOut 1s forwards;
}
