.projects-section {
  position: relative;
  z-index: 1;
}

.project {
  width: 100%;
  margin: 0;
  padding: 0 15%; /* Ajoute un padding de 20px à gauche et à droite */
  font-family: Verdana, sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  gap: 10px;
  flex-wrap: wrap;
  overflow-x: hidden; /* Évite le slide horizontal */
}

.card {
  overflow: hidden;
  margin: 0;
  background: rgb(128 128 128 / 0.2);
  border-radius: 10px;
  position: relative;
  transition: all 300ms ease-in-out;
  width: calc(50% - 20px); /* Ajuste la largeur pour 2 cartes par ligne */
  box-sizing: border-box;
  margin: 5px;
}

.blob {
  filter: blur(40px);
  position: absolute;
  z-index: 1;
  top: 0;
  opacity: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: rgb(255, 255, 255, 0.5);
  transition: all 300ms ease-in-out;
}

.fakeblob {
  display: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.imagec {
  width: 100%;
  height: 100%; /* Adjust the height as needed */
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  z-index: 2;
}

.imagec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner {
  border-radius: 0 0 7px 7px;
  padding: 10px;
  width: 100%;
  height: 200px;
  background: rgb(26, 26, 26);
  backdrop-filter: blur(80px);
  transition: all 300ms ease-in-out;
}

/* Media queries pour rendre les cartes responsives */
@media (max-width: 1024px) {
  .card {
    width: calc(
      100% - 20px
    ); /* Ajuste la carte pour prendre toute la largeur en mode tablette */
  }
}

@media (max-width: 768px) {
  .project {
    padding: 0 10%; /* Réduit le padding pour les petits écrans */
  }

  .card {
    width: calc(100% - 10px); /* Une carte par ligne sur les petits écrans */
  }

  .inner {
    padding: 5px; /* Réduit le padding interne pour les petits écrans */
    font-size: 14px; /* Ajuste la taille du texte */
  }

  .imagec {
    height: 150px; /* Réduit la hauteur de l'image sur petits écrans */
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%; /* Une carte par ligne sur très petits écrans */
  }

  .inner {
    font-size: 12px; /* Taille de police plus petite pour les petits écrans */
    padding: 5px;
  }

  .imagec {
    height: 120px; /* Ajuste la hauteur de l'image */
  }
}
